{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		num_threads {$FRANKENPHP_NUM_THREADS:1}
		max_threads {$FRANKENPHP_MAX_THREADS:1}
		{$FRANKENPHP_CONFIG}
	}

	order php_server before file_server
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
	root * /app/public
	encode zstd br gzip
	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	route {
		@hiddenFiles {
			path /.*
			not path /.well-known/*
		}
		respond @hiddenFiles 404

		@sensitiveFiles {
			path *.7z *.bak *.br *.bz2 *.conf *.crt *.csv *.dist *.env *.gz *.inc *.ini *.key *.log *.orig *.pem *.phar *.rar *.save *.sh *.sql *.sqlite *.swp *.tar *.tar.bz2 *.tar.gz *.tar.xz *.tgz *.tpl *.twig *.xz *.yml *.yaml *.zip *.zst /composer.json /composer.lock /package.xml /README* /Read* /Lies* /config.inc.php /options.inc.php /files.tar /acptemplates.tar /WCFSetup.tar.gz /vendor /vendor/*
		}
		respond @sensitiveFiles 404

		@vendorFiles {
			path /vendor*
		}
		respond @vendorFiles 404

		@protectedDirectories {
			path /attachments /attachments/* /cache /cache/* /language /language/* /lib /lib/* /log /log/* /media_files /media_files/* /templates /templates/* /tmp /tmp/* /_data/private /_data/private/* /acp/templates /acp/templates/* /acp/uninstall /acp/uninstall/* /images/proxy /images/proxy/* /*/attachments /*/attachments/* /*/cache /*/cache/* /*/language /*/language/* /*/lib /*/lib/* /*/log /*/log/* /*/media_files /*/media_files/* /*/templates /*/templates/* /*/tmp /*/tmp/* /*/_data/private /*/_data/private/* /*/acp/templates /*/acp/templates/* /*/acp/uninstall /*/acp/uninstall/* /*/images/proxy /*/images/proxy/*
		}
		respond @protectedDirectories 404

		@staticAssets {
			path *.avif *.css *.eot *.gif *.ico *.jpg *.jpeg *.js *.json *.map *.otf *.pdf *.png *.svg *.ttf *.webmanifest *.webp *.woff *.woff2
		}
		header @staticAssets Cache-Control "public, max-age=31536000, immutable"
		file_server @staticAssets {
			precompressed zstd br gzip
		}

		@woltlabAppRewrite {
			not file {path} {path}/
			path_regexp woltlabApp ^/([^/]+)/(.*)$
			file /{re.woltlabApp.1}/index.php
		}
		rewrite @woltlabAppRewrite /{re.woltlabApp.1}/index.php?{re.woltlabApp.2}

		@woltlabRootRewrite {
			not file {path} {path}/
			path_regexp woltlabRoot ^/(.*)$
		}
		rewrite @woltlabRootRewrite /index.php?{re.woltlabRoot.1}

		php_server
	}
}
